* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 20px;
	font-family: "DM Sans", sans-serif;
	background-color: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}

.product {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid var(--tg-theme-secondary-bg-color);
	border-radius: 8px;
}
