* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 30px;
	font-family: "Montserrat", sans-serif;
	color: var(--c-text);
	background-color: var(--c-bg);
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}

body::selection {
	background-color: var(--c-accent);
	color: var(--c-text);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 120px 50px;
}

.heading {
	margin-block-end: 56px;
	text-align: start;
}

.heading__title {
	font-size: 26px;
	font-weight: 600;
	text-align: center;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 12px;
	background-color: var(--c-card-bg);
	color: var(--c-card-text);
	padding: 32px 20px;
	box-shadow: var(--c-card-shadow);
	transition: transform 0.2s ease-out;
	will-change: transform;
}

.card:nth-child(odd)::before {
	--size: 115px;

	content: "";
	display: inline-block;
	background: var(--c-card-decor-1-url) center/contain no-repeat;
	width: var(--size);
	height: var(--size);
	position: absolute;
	bottom: calc(var(--size) / 2.5 * -1);
	left: calc(var(--size) / 2.5 * -1);
	z-index: 3;
	filter: drop-shadow(4px 26px 22px 0 rgba(0, 0, 0, 0.25));
	rotate: -80deg;
}

.card:nth-child(even)::before {
	--size: 115px;

	content: "";
	display: inline-block;
	background: var(--c-card-decor-1-url) center/contain no-repeat;
	width: var(--size);
	height: var(--size);
	position: absolute;
	bottom: calc(var(--size) / 2.5 * -1);
	right: calc(var(--size) / 2.5 * -1);
	z-index: 3;
	filter: drop-shadow(4px 26px 22px 0 rgba(0, 0, 0, 0.25));
	rotate: 180deg;
}

.card:nth-child(odd):after {
	--size: 85px;

	content: "";
	display: inline-block;
	background: var(--c-card-decor-2-url) center/contain no-repeat;
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: calc(var(--size) / 2.5 * -1);
	right: calc(var(--size) / 2.5 * -1);
	z-index: 3;
	filter: drop-shadow(4px 26px 22px 0 rgba(0, 0, 0, 0.25));
	rotate: 110deg;
}

.card:nth-child(even):after {
	--size: 85px;

	content: "";
	display: inline-block;
	background: var(--c-card-decor-2-url) center/contain no-repeat;
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: calc(var(--size) / 2.5 * -1);
	left: calc(var(--size) / 2.5 * -1);
	z-index: 3;
	filter: drop-shadow(4px 26px 22px 0 rgba(0, 0, 0, 0.25));
	rotate: 30deg;
}

.card__name {
	font-size: 18px;
	font-weight: 500;
}

.card__content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-block-start: auto;
}

.card__wrap-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background: var(--c-card-image-color) var(--c-card-image-bg) center/cover
		no-repeat;
	border-radius: 8px;
	margin-block-end: 16px;
	flex-grow: 1;
	overflow: hidden;
	min-width: 0;
	width: 100%;
	max-width: 100%;
	padding-block: 12px;
	min-height: 270px;
}

.swiper {
	min-width: 0;
	max-width: 100%;
	/* width: 100%; */
}

.swiper-slide {
	justify-content: center;
	text-align: center;
}

.card__wrap-image--bg-none {
	background: transparent;
	padding: 0;
}

.card__wrap-image--bg-none .card__image {
	width: 100%;
	height: auto;
	border-radius: 10px;
	object-fit: cover;
}

.card__bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	border-radius: 5.7px;
	display: none;
	pointer-events: none;
	user-select: none;
}

.card__image {
	width: 100%;
	max-width: 75%;
	height: auto;
	max-height: 310px;
	object-fit: contain;
	pointer-events: none;
	user-select: none;
}

.card__btn-order {
	width: 100%;
	position: relative;
	z-index: 0;
}

.btn {
	border-radius: 8px;
	background: var(--c-card-btn-order-bg);
	color: var(--c-card-btn-order-text);
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	padding: 12px 24px;
	cursor: pointer;
	border: none;
	transition: var(--transition);
	font-family: "Montserrat", sans-serif;
}

.btn:hover {
	filter: brightness(1.1);
}

.btn[disabled] {
	filter: contrast(0.4) brightness(1.3);
	pointer-events: none;
	user-select: none;
}

.hint-text {
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: var(--c-text-secondary);
	margin-block-start: 96px;
}
